{{ define "content" -}}
  <p>Hey! I know you! <b>{{.User}}</b>, isn't it?</p>
  {{ if .Stars }}
    <h2>GitHub Recs:</h2>
      <ul>
        {{ range $index, $rec := .Recs }}
          <li>
            <a href="https://github.com/{{ $rec.Repository }}">
              {{ $rec.Repository }}</a>
            ({{printf "%.2f" $rec.Score}})
          </li>
        {{ end }}
      </ul>
    <h2>You starred:</h2>
      <ul>
        {{ range $index, $repo := .Stars }}
          <li><a href="https://github.com/{{ $repo }}">{{ $repo }}</a></li>
        {{ end }}
      </ul>
  {{ else }}
    <p>Sorry, I can't recommend because you have not starred any repos.</p>
  {{ end }}
{{- end }}
